# Preprocessing Workflow

üéØ This exercise will guide you through the preprocessing workflow. Step by step, feature by feature, you will investigate the dataset and take preprocessing decisions accordingly.

üå§ We stored the `ML_Houses_dataset.csv` [here](https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Houses_dataset.csv) in the cloud.

üëá Run the code down below to load the dataset and features you will be working with.

In [ ]:
import pandas as pd

# Loading the dataset
url = "https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Houses_dataset.csv"
data = pd.read_csv(url)

# Selecting some columns of interest
selected_features = ['GrLivArea',
                     'BedroomAbvGr',
                     'KitchenAbvGr', 
                     'OverallCond',
                     'RoofSurface',
                     'GarageFinish',
                     'CentralAir',
                     'ChimneyStyle',
                     'MoSold',
                     'SalePrice']

# Overwriting the "data" variable to keep only the columns of interest
# Notice the .copy() to copy the values 
data = data[selected_features].copy()

# Showing the first five rows
data.head()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,GarageFinish,CentralAir,ChimneyStyle,MoSold,SalePrice
0,1710,3,1,5,1995.0,RFn,Y,bricks,2,208500
1,1262,3,1,8,874.0,RFn,Y,bricks,5,181500
2,1786,3,1,5,1593.0,RFn,Y,castiron,9,223500
3,1717,3,1,5,2566.0,Unf,Y,castiron,2,140000
4,2198,4,1,5,3130.0,RFn,Y,bricks,12,250000

üìö Take the time to do a ***preliminary investigation*** of the features by reading the ***dataset description*** available [here](https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Houses_dataset_description.txt). Make sure to refer to it throughout the day.

## (1) Duplicates

‚ÑπÔ∏è ***Duplicates in datasets cause data leakage.*** 

üëâ It is important to locate and remove duplicates.

‚ùì How many duplicated rows are there in the dataset ‚ùì

<i>Save your answer under variable name `duplicate_count`.</i>

In [ ]:
duplicate_count = len(data) - len(data.drop_duplicates()) # Original data length minus data length without duplicates
duplicate_count

300

‚ùì Remove the duplicates from the dataset. Overwite the dataframe `data`‚ùì

In [ ]:
data.drop_duplicates(inplace=True) # Drop duplicates in place
data.head()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,GarageFinish,CentralAir,ChimneyStyle,MoSold,SalePrice
0,1710,3,1,5,1995.0,RFn,Y,bricks,2,208500
1,1262,3,1,8,874.0,RFn,Y,bricks,5,181500
2,1786,3,1,5,1593.0,RFn,Y,castiron,9,223500
3,1717,3,1,5,2566.0,Unf,Y,castiron,2,140000
4,2198,4,1,5,3130.0,RFn,Y,bricks,12,250000

üß™ **Test your code**

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('duplicates',
                         duplicates = duplicate_count,
                         dataset = data
)

result.write()
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /Users/markbotterill/.pyenv/versions/testing-setup/bin/python3
cachedir: .pytest_cache
rootdir: /Users/markbotterill/code/lewagon_dev/data-solutions/05-ML/02-Prepare-the-dataset/01-Preprocessing-Workflow/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_duplicates.py::TestDuplicates::test_dataset_length PASSED           [ 50%]
test_duplicates.py::TestDuplicates::test_duplicate_count PASSED          [100%]

============================== 2 passed in 0.25s ===============================


üíØ You can commit your code:

git add tests/duplicates.pickle

git commit -m 'Completed duplicates step'

git push origin master

## (2) Missing data

‚ùì Print the percentage of missing values for every column of the dataframe. ‚ùì

In [ ]:
round(data.isnull().sum().sort_values(ascending=False)/len(data),2) #NaN percentage for each column

GarageFinish    0.06
RoofSurface     0.01
GrLivArea       0.00
BedroomAbvGr    0.00
KitchenAbvGr    0.00
OverallCond     0.00
CentralAir      0.00
ChimneyStyle    0.00
MoSold          0.00
SalePrice       0.00
dtype: float64

### `GarageFinish`

‚ùì **Questions** about `GarageFinish` ‚ùì

Investigate the missing values in `GarageFinish`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median using `SimpleImputer` from Scikit-Learn
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è According to the dataset description, the missing values in `GarageFinish` represent a house having no garage. They need to be encoded as such.
</details>

In [ ]:
import numpy as np

data.GarageFinish.replace(np.nan, "NoGarage", inplace=True) #Replace NaN by "NoGarage"

### `RoofSurface`

‚ùì **Questions** about `RoofSurface` ‚ùì

Investigate the missing values in `RoofSurface`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median using sklearn's `SimpleImputer`
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `RoofSurface` has a few missing values that can be imputed by the median value.
</details>

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median") # Instanciate a SimpleImputer object with strategy of choice

imputer.fit(data[['RoofSurface']]) # Call the "fit" method on the object

data['RoofSurface'] = imputer.transform(data[['RoofSurface']]) # Call the "transform" method on the object

### `ChimneyStyle`

‚ùì **Questions** about `ChimneyStyle` ‚ùì

Investigate the missing values in `ChimneyStyle`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

<details>
    <summary>üí° <i>Hint</i></summary>
    
* ‚ö†Ô∏è Be careful: not all missing values are represented as `np.nans`, and Python's `isnull()` only detects `np.nans`...
    
* ‚ÑπÔ∏è `ChimneyStyle` has a lot of missing values. The description does not touch on what they represent. As such, it is better not to make any assumptions and to drop the column entirely.
    

</details>

In [ ]:
data.ChimneyStyle.value_counts(dropna=False) # Get unique values and their count

?           1455
bricks         3
castiron       2
Name: ChimneyStyle, dtype: int64

In [ ]:
data.ChimneyStyle.replace("?",np.nan, inplace=True) # Replace "?" by np.nan

In [ ]:
data.ChimneyStyle.isnull().sum()/len(data) # NaN percentage for Chimney Style

0.9965753424657534

In [ ]:
data.drop(columns='ChimneyStyle', inplace=True) # Drop ChimneyStyle column

üß™ **Test your code**

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('missing_values',
                         dataset = data
)

result.write()
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /Users/markbotterill/.pyenv/versions/testing-setup/bin/python3
cachedir: .pytest_cache
rootdir: /Users/markbotterill/code/lewagon_dev/data-solutions/05-ML/02-Prepare-the-dataset/01-Preprocessing-Workflow/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_missing_values.py::TestMissing_values::test_nans PASSED             [ 50%]
test_missing_values.py::TestMissing_values::test_number_of_columns PASSED [100%]

============================== 2 passed in 0.22s ===============================


üíØ You can commit your code:

git add tests/missing_values.pickle

git commit -m 'Completed missing_values step'

git push origin master

‚ùì When you are done with handling missing value, print out the percentage of missing values for the entire dataframe ‚ùì

You should no longer have missing values !

In [ ]:
round(data.isnull().sum().sort_values(ascending=False)/len(data),2) #NaN percentage for each column

GrLivArea       0.0
BedroomAbvGr    0.0
KitchenAbvGr    0.0
OverallCond     0.0
RoofSurface     0.0
GarageFinish    0.0
CentralAir      0.0
MoSold          0.0
SalePrice       0.0
dtype: float64

## (3) Scaling

**First of all, before scaling...**

To understand the effects of scaling and encoding on model performance, let's get a **base score without any data transformation**.

‚ùì Cross-validate a linear regression model that predicts `SalePrice` using the other features ‚ùì

‚ö†Ô∏è Note that a linear regression model can only handle numeric features. [DataFrame.select_dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html) can help.

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

# excluding all non-numeric columns and the target
X = data.select_dtypes(exclude='object').drop('SalePrice', axis=1)

y = data.SalePrice

cross_val_score(LinearRegression(), X, y, cv = 10).mean()

0.5776433985192064

Keep this score in mind! You will train a new model after data preprocessing in Challenge #2 - see if it improves your average score üòâ

üöÄ Now, back to **feature scaling**!

###  `RoofSurface`

‚ùì **Question** about `RoofSurface` ‚ùì

üëá Investigate `RoofSurface` for distribution and outliers. Then, choose the most appropriate scaling technique. Either:

1. Standard Scaler
2. Robust Scaler
3. MinMax Scaler

Replace the original columns with the transformed values.

In [ ]:
data[['RoofSurface']].boxplot()
data[['RoofSurface']].plot.hist(bins=20)

from statsmodels.graphics.gofplots import qqplot
qqplot(data[['RoofSurface']],line='s');

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è Since `RoofSurface` has neither a Gaussian distribution, nor outliers $\rightarrow$ MinMaxScaler.
</details>

In [ ]:
from sklearn.preprocessing import MinMaxScaler

minmaxscaler = MinMaxScaler()
data['RoofSurface']= minmaxscaler.fit_transform(data[['RoofSurface']])
data.head()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,GarageFinish,CentralAir,MoSold,SalePrice
0,1710,3,1,5,0.316729,RFn,Y,2,208500
1,1262,3,1,8,0.069650,RFn,Y,5,181500
2,1786,3,1,5,0.228124,RFn,Y,9,223500
3,1717,3,1,5,0.442583,Unf,Y,2,140000
4,2198,4,1,5,0.566894,RFn,Y,12,250000

### `GrLivArea`

‚ùì **Question** about `GrLivArea` ‚ùì

üëá Investigate `GrLivArea` for distribution and outliers. Then, choose the most appropriate scaling technique. Either:

1. Standard Scaler
2. Robust Scaler
3. MinMax Scaler

Replace the original columns with the transformed values.

In [ ]:
data[['GrLivArea']].boxplot()
data[['GrLivArea']].plot.hist(bins=20)
qqplot(data[['GrLivArea']],line='s');

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `GrLivArea` has many outliers $\rightarrow$ RobustScaler()
</details>

In [ ]:
from sklearn.preprocessing import RobustScaler

rb_scaler = RobustScaler()
data['GrLivArea'] = rb_scaler.fit_transform(data[['GrLivArea']])
data.head()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,GarageFinish,CentralAir,MoSold,SalePrice
0,0.380070,3,1,5,0.316729,RFn,Y,2,208500
1,-0.312090,3,1,8,0.069650,RFn,Y,5,181500
2,0.497489,3,1,5,0.228124,RFn,Y,9,223500
3,0.390885,3,1,5,0.442583,Unf,Y,2,140000
4,1.134029,4,1,5,0.566894,RFn,Y,12,250000

### `BedroomAbvGr` ,  `OverallCond` & `KitchenAbvGr`

‚ùì **Questions** about `BedroomAbvGr`, `OverallCond` & `KitchenAbvGr` ‚ùì

üëá Investigate `BedroomAbvGr`, `OverallCond` & `KitchenAbvGr`. Then, chose one of the following scaling techniques:

1. MinMax Scaler
2. Standard Scaler
3. Robust Scaler

Replace the original columns with the transformed values.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `BedroomAbvGr` ,  `OverallCond` & `KitchenAbvGr` are ordinal features. There are less than 0.1% of outliers so no need to use _RobustScaler()_. The distribution is not Gaussian, hence no _StandardScaler()_. By elimination, you can confidently choose _MinMaxScaler()_.
</details>

In [ ]:
data.describe()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,MoSold,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,0.078410,2.866438,1.046575,5.575342,0.508148,6.321918,180921.195890
std,0.813952,0.815778,0.220338,1.112799,0.291583,2.703626,79442.502883
min,-2.263422,0.000000,0.000000,1.000000,0.000000,1.000000,34900.000000
25%,-0.516802,2.000000,1.000000,5.000000,0.246143,5.000000,129975.000000
50%,0.000000,3.000000,1.000000,5.000000,0.517523,6.000000,163000.000000
75%,0.483198,3.000000,1.000000,6.000000,0.761406,8.000000,214000.000000
max,6.455002,8.000000,3.000000,9.000000,1.000000,12.000000,755000.000000

In [ ]:
from sklearn.preprocessing import MinMaxScaler

minmaxscaler_2 = MinMaxScaler()

data['BedroomAbvGr'], data['OverallCond'], data['KitchenAbvGr'] =  minmaxscaler_2.fit_transform(data[['BedroomAbvGr','OverallCond','KitchenAbvGr']]).T

data.head()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,GarageFinish,CentralAir,MoSold,SalePrice
0,0.380070,0.375,0.333333,0.500,0.316729,RFn,Y,2,208500
1,-0.312090,0.375,0.333333,0.875,0.069650,RFn,Y,5,181500
2,0.497489,0.375,0.333333,0.500,0.228124,RFn,Y,9,223500
3,0.390885,0.375,0.333333,0.500,0.442583,Unf,Y,2,140000
4,1.134029,0.500,0.333333,0.500,0.566894,RFn,Y,12,250000

üß™ **Test your code**

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('scaling',
                         dataset = data
)

result.write()
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /Users/markbotterill/.pyenv/versions/testing-setup/bin/python3
cachedir: .pytest_cache
rootdir: /Users/markbotterill/code/lewagon_dev/data-solutions/05-ML/02-Prepare-the-dataset/01-Preprocessing-Workflow/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 3 items

test_scaling.py::TestScaling::test_bedroom_kitchen_condition PASSED      [ 33%]
test_scaling.py::TestScaling::test_gr_liv_area PASSED                    [ 66%]
test_scaling.py::TestScaling::test_roof_surface PASSED                   [100%]

============================== 3 passed in 0.24s ===============================


üíØ You can commit your code:

git add tests/scaling.pickle

git commit -m 'Completed scaling step'

git push origin master

## (4) Feature Encoding

### `GarageFinish`

‚ùì **Question** about `GarageFinish`‚ùì

üëá Investigate `GarageFinish` and choose one of the following encoding techniques accordingly:
- Ordinal encoding
- One-Hot encoding

Add the encoding to the dataframe as new colum(s), and remove the original column.

<details>
    <summary>üí° <i>Hint</i></summary>
        
‚ÑπÔ∏è `GarageFinish` is a multicategorical feature that should be One-hot-encoded. You could also consider an Ordinal Encoding but we would have to know for sure that Unfinished or no garage are definitely worse that rough finished!
</details>

In [ ]:
data.GarageFinish.unique() # Check unique categories in GarageFinish

array(['RFn', 'Unf', 'Fin', 'NoGarage'], dtype=object)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

GarageFinish_ohe = OneHotEncoder(sparse_output = True) # Instanciate One hot encoder

GarageFinish_ohe.fit(data[['GarageFinish']]) # Fit one hot encoder

GarageFinish_ohe.categories_ # View categories of GarageFinish

[array(['Fin', 'NoGarage', 'RFn', 'Unf'], dtype=object)]

In [ ]:
GarageFinish_ohe.get_feature_names_out()

array(['GarageFinish_Fin', 'GarageFinish_NoGarage', 'GarageFinish_RFn',
       'GarageFinish_Unf'], dtype=object)

In [ ]:
data[GarageFinish_ohe.get_feature_names_out()] = GarageFinish_ohe.fit_transform(data[['GarageFinish']])

data.drop(columns=['GarageFinish'], inplace = True) # Drop original column

data.head()

ValueError: Columns must be same length as key

### Encoding  `CentralAir`

‚ùì **Question** about `CentralAir`‚ùì

Investigate `CentralAir` and choose one of the following encoding techniques accordingly:
- Ordinal encoding
- One-Hot encoding

Replace the original column with the newly generated encoded columns.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `CentralAir` is a binary categorical feature.
</details>

In [ ]:
data.CentralAir.unique() # Check unique values of CentralAir

array(['Y', 'N'], dtype=object)

In [ ]:
CentralAir_encoder = OneHotEncoder(sparse=False, drop='if_binary', categories=[['N', 'Y']]) # Instanciate encoder

data['CentralAir'] = CentralAir_encoder.fit_transform(data[['CentralAir']]) # Fit encoder and tranform

data.head()

/Users/markbotterill/.pyenv/versions/3.10.6/envs/testing-setup/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,CentralAir,MoSold,SalePrice,GarageFinish_Fin,GarageFinish_NoGarage,GarageFinish_RFn,GarageFinish_Unf
0,0.380070,0.375,0.333333,0.500,0.316729,1.0,2,208500,0.0,0.0,1.0,0.0
1,-0.312090,0.375,0.333333,0.875,0.069650,1.0,5,181500,0.0,0.0,1.0,0.0
2,0.497489,0.375,0.333333,0.500,0.228124,1.0,9,223500,0.0,0.0,1.0,0.0
3,0.390885,0.375,0.333333,0.500,0.442583,1.0,2,140000,0.0,0.0,0.0,1.0
4,1.134029,0.500,0.333333,0.500,0.566894,1.0,12,250000,0.0,0.0,1.0,0.0

## (5) Feature Engineering

### `MoSold` - Cyclical engineering

üë®üèª‚Äçüè´ A feature can be numerical (continuous or discrete), categorical or ordinal. But a feature can also be temporal (e.g. quarters, months, days, minutes, ...). 

Cyclical features like time need some specific preprocessing. Indeed, if you want any Machine Learning algorithm to capture this cyclicity, your cyclical features must be preprocessed in a certain way.

üëâ Consider the feature `MoSold`, the month on which the house was sold.

In [ ]:
data["MoSold"].value_counts()

6     253
7     234
5     204
4     141
8     122
3     106
10     89
11     79
9      63
12     59
1      58
2      52
Name: MoSold, dtype: int64

* Many houses were sold in June (6), July (7) and May (5) (Spring/Summer)
* Only a few houses were sold in December (12), January (1) and February (2) (~ Fall/Winter)
    * But for any Machine Learning model, there is no reason why December (12) and January (1) would be "close"...

üë©üèª‚Äçüè´ ***How to deal with cyclical features?***

1.  Look at the following illustration and read the explanations to distinguish two different months.

<img src="https://wagon-public-datasets.s3.amazonaws.com/05-Machine-Learning/02-Prepare-the-dataset/cyclical_feature_engineering.png" alt="Cyclical features" width="1000">


2. Read this [article](https://ianlondon.github.io/blog/encoding-cyclical-features-24hour-time/) for more details.

‚ùì **Question** about `MoSold` ‚ùì 
- Create two new features `sin_MoSold` and `cos_MoSold` which correspond respectively to the sine and cosine of MoSold.
- Drop the original column `MoSold`

<details>
    <summary>üí° <i>Hint</i></summary>
    
To create a time engineered feature based on a column which gives the second in the day!
```python
seconds_in_day = 24*60*60

df['sin_time'] = np.sin(2*np.pi*df.seconds/seconds_in_day)
df['cos_time'] = np.cos(2*np.pi*df.seconds/seconds_in_day)
df.drop(columns=['seconds'], inplace=True)

df.head()
```


</details>

In [ ]:
months_in_a_year = 12

data['sin_MoSold'] = np.sin(2*np.pi*(data.MoSold)/months_in_a_year)
data['cos_MoSold'] = np.cos(2*np.pi*(data.MoSold)/months_in_a_year)
data.drop(columns=['MoSold'], inplace=True)

data.head()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,CentralAir,SalePrice,GarageFinish_Fin,GarageFinish_NoGarage,GarageFinish_RFn,GarageFinish_Unf,sin_MoSold,cos_MoSold
0,0.380070,0.375,0.333333,0.500,0.316729,1.0,208500,0.0,0.0,1.0,0.0,8.660254e-01,5.000000e-01
1,-0.312090,0.375,0.333333,0.875,0.069650,1.0,181500,0.0,0.0,1.0,0.0,5.000000e-01,-8.660254e-01
2,0.497489,0.375,0.333333,0.500,0.228124,1.0,223500,0.0,0.0,1.0,0.0,-1.000000e+00,-1.836970e-16
3,0.390885,0.375,0.333333,0.500,0.442583,1.0,140000,0.0,0.0,0.0,1.0,8.660254e-01,5.000000e-01
4,1.134029,0.500,0.333333,0.500,0.566894,1.0,250000,0.0,0.0,1.0,0.0,-2.449294e-16,1.000000e+00

<u>Remarks</u>:
- The -1 is not mandatory because sine and cosine functions have a $ 2 \pi$ periodicity
- However, it is more correct  speaking in terms of trigonometry properties to include it because $cos(0) = 1$ and $sin(0) = 0$

üß™ **Test your code**

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('encoding', dataset = data, new_features = ['sin_MoSold', 'cos_MoSold'])

result.write()
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /Users/markbotterill/.pyenv/versions/testing-setup/bin/python3
cachedir: .pytest_cache
rootdir: /Users/markbotterill/code/lewagon_dev/data-solutions/05-ML/02-Prepare-the-dataset/01-Preprocessing-Workflow/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 4 items

test_encoding.py::TestEncoding::test_central_air PASSED                  [ 25%]
test_encoding.py::TestEncoding::test_columns PASSED                      [ 50%]
test_encoding.py::TestEncoding::test_month_sold_features PASSED          [ 75%]
test_encoding.py::TestEncoding::test_month_sold_features_number PASSED   [100%]

============================== 4 passed in 0.23s ===============================


üíØ You can commit your code:

git add tests/encoding.pickle

git commit -m 'Completed encoding step'

git push origin master

## (6) Export the preprocessed dataset

üëá Now that the dataset has been preprocessed, execute the code below to export it. You will keep working on it in the next exercise.

In [ ]:
data.to_csv("data/clean_dataset.csv", index=False)

üèÅ Congratulations! Now, you know how to ***preprocess a dataset*** !

üíæ Don't forget to git add/commit/push your notebook...

üöÄ ... and move on to the next challenge!